Import ellis_joined, from kernel in preceeding notebook which details the cleaning and joing process.

We are now going to use another assessor's dataset from 2019, and concern ourselves with the period of 2014-2019 in particuar in order to study the determinants of the ellis act on the property level during this period of intensive use.

Datasets:

Ellis Act Filing Records 2007- Present (May 2021): https://hcidla2.lacity.org/ELLIS - base dataset, now joined, see previous notebook - we will be extracting data from years 2015-2019 for this study. 

Census tract level demographic and econmoic data: ACS 5 Years 2014 and 2019 from census api through cenpy. Index of tables https://www2.census.gov/programs-surveys/acs/tech_docs/table_shells/2019/

Los Angeles County Assessors Parcel Records (2019): Purchased by SAJE, used with permissions - used to identify current parcel status and ownership for entity type sample - GEOJSON export including selected columns for LA city parcels from SAJE owned geopackage. We will be using this to identify owners at the time of filing, as well as to identify a preceeding sale

In [1]:
#Import modules: pandas/geopandas
import pandas as pd
import geopandas as gpd

In [2]:
ellisdf=pd.read_csv('/Users/alexanderferrer/Documents/GitHub/UP229_Ellis/ellis_joined.csv')

ellisdf.head()

,Unnamed: 0,application_received,application_year,council_district,address,city,zip,units_withdrawn,replacement_unit,yearbuilt,units,sqftmain,center_lat,center_lon,geometry
0,2040031029,11/6/19,2019,3,22729 W DEL VALLE ST,LOS ANGELES,91364.0,3,0.0,1955.0,3.0,1860.0,34.165880,-118.621319,POINT (-13204864.81828771 4051097.450097568)
1,2040031030,12/4/19,2019,3,22727 W DEL VALLE ST,WOODLAND HILLS,91364.0,3,0.0,1955.0,3.0,1869.0,34.165929,-118.621164,POINT (-13204847.61386041 4051104.006178072)
2,2040033033,2/10/16,2016,3,22431 W DEL VALLE ST,WOODLAND HILLS,91364.0,3,0.0,1955.0,3.0,1869.0,34.167389,-118.616525,POINT (-13204331.1860447 4051300.523521864)
3,2107014004,4/21/20,2020,3,20327 W STAGG ST,LOS ANGELES,91306.0,3,0.0,1910.0,3.0,2446.0,34.211389,-118.576350,POINT (-13199858.95667153 4057221.803746735)
4,2111025021,3/16/16,2016,3,7118 N JORDAN AVE,CANOGA PARK,91303.0,2,9.0,1947.0,2.0,1489.0,34.199760,-118.602505,POINT (-13202770.5034817 4055656.567431433)

In [3]:
ellisdf.rename(columns={'Unnamed: 0': 'ain',}, inplace=True)

ellisdf.head()

,ain,application_received,application_year,council_district,address,city,zip,units_withdrawn,replacement_unit,yearbuilt,units,sqftmain,center_lat,center_lon,geometry
0,2040031029,11/6/19,2019,3,22729 W DEL VALLE ST,LOS ANGELES,91364.0,3,0.0,1955.0,3.0,1860.0,34.165880,-118.621319,POINT (-13204864.81828771 4051097.450097568)
1,2040031030,12/4/19,2019,3,22727 W DEL VALLE ST,WOODLAND HILLS,91364.0,3,0.0,1955.0,3.0,1869.0,34.165929,-118.621164,POINT (-13204847.61386041 4051104.006178072)
2,2040033033,2/10/16,2016,3,22431 W DEL VALLE ST,WOODLAND HILLS,91364.0,3,0.0,1955.0,3.0,1869.0,34.167389,-118.616525,POINT (-13204331.1860447 4051300.523521864)
3,2107014004,4/21/20,2020,3,20327 W STAGG ST,LOS ANGELES,91306.0,3,0.0,1910.0,3.0,2446.0,34.211389,-118.576350,POINT (-13199858.95667153 4057221.803746735)
4,2111025021,3/16/16,2016,3,7118 N JORDAN AVE,CANOGA PARK,91303.0,2,9.0,1947.0,2.0,1489.0,34.199760,-118.602505,POINT (-13202770.5034817 4055656.567431433)

In [4]:
ellisdf['application_date'] = pd.to_datetime(ellisdf['application_received'])

print(ellisdf['application_date'].unique())

['2019-11-06T00:00:00.000000000' '2019-12-04T00:00:00.000000000'
 '2016-02-10T00:00:00.000000000' ... '2020-07-20T00:00:00.000000000'
 '2018-02-13T00:00:00.000000000' '2017-01-12T00:00:00.000000000']

In this case we are only interested in Ellis Act Evictions from 2014 to 2019, so we will create a new dataset dropping the others.

In [5]:
studyellisdf=ellisdf[ellisdf['application_year'].between(2014, 2019)]

print(studyellisdf['application_year'].unique())

[2019 2016 2015 2018 2017 2014]

In [6]:
parcelsdf=pd.read_csv('/Users/alexanderferrer/Desktop/assessor_2019_la.csv')

parcelsdf.columns

/Applications/anaconda3/envs/UP299/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['fid', 'CENTER_LON', 'YearBuilt5', 'YearBuilt4', 'YearBuilt1',
       'UseType', 'YearBuilt2', 'APN', 'Bedrooms1', 'Bedrooms2', 'Bedrooms3',
       'Bedrooms4', 'Bedrooms5', 'UseDescription', 'MailAddress', 'SQFTmain2',
       'SQFTmain3', 'SQFTmain1', 'SQFTmain4', 'SQFTmain5', 'MailCity',
       'Units1', 'Units3', 'Units2', 'Units5', 'Units4', 'OwnerFullName',
       'AgencyName', 'AIN', 'Bathrooms5', 'Bathrooms4', 'Bathrooms1',
       'Bathrooms3', 'Bathrooms2', 'SitusFullAddress', 'Shape.STArea()',
       'Shape.STLength()', 'YearBuilt3', 'CENTER_LAT', 'LS1 Sale Amount',
       'LS1 Sale Date', 'LS2 Sale Amount', 'LS2 Sale Date'],
      dtype='object')

In [7]:
parcelsdf.columns=parcelsdf.columns.str.lower()

parcelsdf.columns

Index(['fid', 'center_lon', 'yearbuilt5', 'yearbuilt4', 'yearbuilt1',
       'usetype', 'yearbuilt2', 'apn', 'bedrooms1', 'bedrooms2', 'bedrooms3',
       'bedrooms4', 'bedrooms5', 'usedescription', 'mailaddress', 'sqftmain2',
       'sqftmain3', 'sqftmain1', 'sqftmain4', 'sqftmain5', 'mailcity',
       'units1', 'units3', 'units2', 'units5', 'units4', 'ownerfullname',
       'agencyname', 'ain', 'bathrooms5', 'bathrooms4', 'bathrooms1',
       'bathrooms3', 'bathrooms2', 'situsfulladdress', 'shape.starea()',
       'shape.stlength()', 'yearbuilt3', 'center_lat', 'ls1 sale amount',
       'ls1 sale date', 'ls2 sale amount', 'ls2 sale date'],
      dtype='object')

In [8]:
parcelsdf.columns = parcelsdf.columns.str.replace(' ','_')

parcelsdf.columns

Index(['fid', 'center_lon', 'yearbuilt5', 'yearbuilt4', 'yearbuilt1',
       'usetype', 'yearbuilt2', 'apn', 'bedrooms1', 'bedrooms2', 'bedrooms3',
       'bedrooms4', 'bedrooms5', 'usedescription', 'mailaddress', 'sqftmain2',
       'sqftmain3', 'sqftmain1', 'sqftmain4', 'sqftmain5', 'mailcity',
       'units1', 'units3', 'units2', 'units5', 'units4', 'ownerfullname',
       'agencyname', 'ain', 'bathrooms5', 'bathrooms4', 'bathrooms1',
       'bathrooms3', 'bathrooms2', 'situsfulladdress', 'shape.starea()',
       'shape.stlength()', 'yearbuilt3', 'center_lat', 'ls1_sale_amount',
       'ls1_sale_date', 'ls2_sale_amount', 'ls2_sale_date'],
      dtype='object')

We need to find total values for the parcels' characteristics, so first we need to convert the fields to in and nulls to zeros.

In [9]:
parcelsdf[['bedrooms1', 'bedrooms2', 'bedrooms3','bedrooms4', 'bedrooms5','sqftmain2','sqftmain3','sqftmain1', 'sqftmain4', 'sqftmain5','units1', 'units3', 'units2', 'units5', 'units4','bathrooms5', 'bathrooms4', 'bathrooms1','bathrooms3', 'bathrooms2']]= parcelsdf[['bedrooms1', 'bedrooms2', 'bedrooms3','bedrooms4', 'bedrooms5','sqftmain2','sqftmain3','sqftmain1', 'sqftmain4', 'sqftmain5','units1', 'units3', 'units2', 'units5', 'units4','bathrooms5', 'bathrooms4', 'bathrooms1','bathrooms3', 'bathrooms2']].fillna(0)

In [10]:
parcelsdf[['bedrooms1', 'bedrooms2', 'bedrooms3','bedrooms4', 'bedrooms5','sqftmain2','sqftmain3','sqftmain1', 'sqftmain4', 'sqftmain5','units1', 'units3', 'units2', 'units5', 'units4','bathrooms5', 'bathrooms4', 'bathrooms1','bathrooms3', 'bathrooms2']]= parcelsdf[['bedrooms1', 'bedrooms2', 'bedrooms3','bedrooms4', 'bedrooms5','sqftmain2','sqftmain3','sqftmain1', 'sqftmain4', 'sqftmain5','units1', 'units3', 'units2', 'units5', 'units4','bathrooms5', 'bathrooms4', 'bathrooms1','bathrooms3', 'bathrooms2']].astype(int)

In [11]:
parcelsdf['units_total']=parcelsdf['units1']+parcelsdf['units2']+parcelsdf['units3']+parcelsdf['units4']+parcelsdf['units5']

parcelsdf['bedrooms_total']=parcelsdf['bedrooms1']+parcelsdf['bedrooms2']+parcelsdf['bedrooms3']+parcelsdf['bedrooms4']+parcelsdf['bedrooms5']

parcelsdf['bathrooms_total']=parcelsdf['bathrooms1']+parcelsdf['bathrooms2']+parcelsdf['bathrooms3']+parcelsdf['bathrooms4']+parcelsdf['bathrooms5']

parcelsdf['sqft_total']=parcelsdf['sqftmain1']+parcelsdf['sqftmain2']+parcelsdf['sqftmain3']+parcelsdf['sqftmain4']+parcelsdf['sqftmain5']

We also need to find the average built age of the structures on the parcel. However some are inccorectly recorded as 0, and we will need to convert those to null first.

In [12]:
import numpy as np

In [13]:
parcelsdf[['yearbuilt5', 'yearbuilt4', 'yearbuilt1','yearbuilt2','yearbuilt3']]=parcelsdf[['yearbuilt5', 'yearbuilt4', 'yearbuilt1','yearbuilt2','yearbuilt3']].replace(0,np.nan)

In [14]:
parcelsdf['yearbuilt_avg']=parcelsdf[['yearbuilt5', 'yearbuilt4', 'yearbuilt1','yearbuilt2','yearbuilt3']].mean(axis=1)

parcelsdf['yearbuilt_avg']=parcelsdf['yearbuilt_avg'].astype(int)

print(parcelsdf.yearbuilt_avg.unique())

[1961 1948 1981 1926 1952 1950 1977 1956 1980 1959 1954 1973 1945 1901
 1912 1908 1933 1895 1906 1913 1935 1890 1914 1921 1931 1922 1898 1905
 1927 1923 1953 1904 1909 1900 1911 1929 1885 1936 1919 2003 1907 1893
 1944 1941 1902 1880 1887 1899 1940 2006 1896 1918 1947 1892 1963 1897
 1910 1978 1903 2001 1966 1946 1939 1975 1938 1951 1924 1915 2004 1937
 1920 1960 1965 2007 1986 2002 1964 1958 2010 1916 1979 1962 1957 1990
 1932 2009 1997 1991 1930 1993 1992 1928 2011 1985 1943 1949 1988 1925
 1976 1917 1891 2016 1942 2008 2014 1999 1881 1934 1984 1968 1989 1884
 1972 1971 1967 1983 1994 1955 1969 2005 1982 1987 1998 1996 2017 1894
 1995 1889 2015 1970 1974 1888 2013 2000 2012 2018 1886 1882 1804 1883
 2019 1833 1875 1867 1857 1819 1866 1870 1861 1827 1815 1828 1806 1879
 1873 1864 1834 1863 1872 1852 1877 1868 1808 1869 1865 1855 1812 1825
 1859]

Now we can generate some more interesting parcel characteristics, in terms of built area to parcel area, and estimated density.

In [15]:
parcelsdf['built_to_land']=parcelsdf['sqft_total']/parcelsdf['shape.starea()']

parcelsdf['estimated_density_per_acre']=(parcelsdf['units_total']/(parcelsdf['shape.starea()']/43560))

parcelsdf.columns

Index(['fid', 'center_lon', 'yearbuilt5', 'yearbuilt4', 'yearbuilt1',
       'usetype', 'yearbuilt2', 'apn', 'bedrooms1', 'bedrooms2', 'bedrooms3',
       'bedrooms4', 'bedrooms5', 'usedescription', 'mailaddress', 'sqftmain2',
       'sqftmain3', 'sqftmain1', 'sqftmain4', 'sqftmain5', 'mailcity',
       'units1', 'units3', 'units2', 'units5', 'units4', 'ownerfullname',
       'agencyname', 'ain', 'bathrooms5', 'bathrooms4', 'bathrooms1',
       'bathrooms3', 'bathrooms2', 'situsfulladdress', 'shape.starea()',
       'shape.stlength()', 'yearbuilt3', 'center_lat', 'ls1_sale_amount',
       'ls1_sale_date', 'ls2_sale_amount', 'ls2_sale_date', 'units_total',
       'bedrooms_total', 'bathrooms_total', 'sqft_total', 'yearbuilt_avg',
       'built_to_land', 'estimated_density_per_acre'],
      dtype='object')

Now, we can indentify parcels that were built or sold in the years in question

In [16]:
print(parcelsdf['ls1_sale_date'].unique())

[19741018.        0. 20191007. ... 19890527. 19721228. 20170422.]

In [35]:
#what happened here- how can I fix this without dropping the rows with 0?
parcelsdf['ls1_sale_date']=parcelsdf.ls1_sale_date.fillna(19990101)
parcelsdf['ls1_sale_date']=parcelsdf['ls1_sale_date'].replace(to_replace=0,value=19990101)
parcelsdf['ls1_sale_date']=parcelsdf['ls1_sale_date'].replace(to_replace=19830232,value=19990101)
parcelsdf['ls1_sale_date']=parcelsdf.ls1_sale_date.astype(int).astype(str)
parcelsdf['last_sold_date'] = pd.to_datetime(parcelsdf['ls1_sale_date'],infer_datetime_format=True)
print(parcelsdf.last_sold_date.unique())

ParserError: day is out of range for month: 19830232

In [34]:
parcelsdf.sort_values('ls1_sale_date').ls1_sale_date.tail(10)

121655    20191231
542282    20191231
675113    20191231
36112     20191231
439690    20191231
106875    20191231
395807    20191231
405566    20191231
643076    20191231
272472    20191231
Name: ls1_sale_date, dtype: object

In [18]:
#will this work and how to write?
parcelsdf['sold_14_19']=parcelsdf.ls1_sale_date.apply(lambda x:1 if (x>20140000 and x<20200000) else 0)

In [19]:
parcelsdf['built_14_19']=parcelsdf.yearbuilt_avg.apply(lambda x: 1 if (x>2013 and x<2020) else 0)

In [20]:
#ask about this too for text, esp wildcard characters
parcelsdf['landlord_type']=

SyntaxError: invalid syntax (<ipython-input-20-57c892b57dc2>, line 2)

In [ ]:
#how to create a new df of ll size by counting units and counts of mailing address, then apply to original df

parcelsdf['landlord_size_units']=

parcelsdf['landlord_size_properties']=

In [ ]:
#We also need a bool indicator of the corporate status for regression

parcelsdf['landlord_iscorp']=

Now, we will turn to assigning neighborhood characteristics for the parcels in question, using census data from the ACS acquired through cenpy's API tool. Index of tables https://www2.census.gov/programs-surveys/acs/tech_docs/table_shells/2019/

In [21]:
import requests
import cenpy
from cenpy import products

acs19=cenpy.products.ACS(2019)

In [23]:
vars_to_download_19 = {
    "B25064_001E": "median_rent_2019",
    "B25077_001E": "median_value_2019",
    "B03002_001E": "total_pop_2019",
    "B03002_003E": "white_2019",
    "B03002_004E": "black_2019",
    "B03002_012E": "latx_2019",
    "B25003_001E": "housing_occupied_2019",
    "B25001_003E": "housing_rented_2019",
    "B09019_007E": "hh_female_head_2019",
    "B09019_001E": "hh_total_2019",
    "B15003_001E": "educ_all_2019",
    "B15003_015E": "educ_bachelors_2019",
    "B15003_016E": "educ_masters_2019",
    "B15003_017E": "educ_professional_2019",
    "B15003_018E": "educ_doctoral_2019", 
    "B19013_001E": "median_income_2019",
    "B23025_003E": "civ_laborforce_2019",
    "B23025_005E": "civ_unemployed_2019",
    "B17002_001E": "pov_all_2019",
    "B17002_002E": "pov_extreme_2019",
    "B17002_003E": "pov_severe_2019",
    "B17002_004E": "pov_in_2019",
    "B11005_001E": "hh_kids_all_2019",
    "B11005_002E": "hh_kids_yes_2019",
    "B25002_001E": "units_all_2019",
    "B25002_003E": "units_vacant_2019"
    
}
vars_to_download_l_19 = list(vars_to_download_19.keys())

In [36]:
tracts19gdf=products.ACS(2019).from_place('Los Angeles, CA',place_type='Incorporated Place',level='tract',variables=vars_to_download_l_19)

/Applications/anaconda3/envs/UP299/lib/python3.8/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

Matched: Los Angeles, CA to Los Angeles city within layer Incorporated Places

In [37]:
print(tracts19gdf.head(10))

         GEOID                                           geometry  \
0  06037297201  POLYGON ((-13168495.190 3991594.850, -13168494...
1  06037297110  POLYGON ((-13167752.470 3992927.300, -13167751...
2  06037296220  POLYGON ((-13167749.020 3993777.050, -13167748...
3  06037294510  POLYGON ((-13166314.000 4000710.020, -13166192...
4  06037134305  POLYGON ((-13203148.170 4058335.410, -13202671...
5  06037134306  POLYGON ((-13203147.280 4057781.040, -13203142...
6  06037137103  POLYGON ((-13203133.920 4051914.680, -13203125...
7  06037134903  POLYGON ((-13202209.750 4054849.300, -13202159...
8  06037137501  POLYGON ((-13201197.410 4051166.750, -13201184...
9  06037115301  POLYGON ((-13197323.600 4061827.570, -13197323...

   B03002_001E  B03002_003E  B03002_004E  B03002_012E  B09019_001E  \
0       4505.0        848.0        327.0       2892.0       4505.0
1       4649.0        758.0        515.0       2988.0       4649.0
2       4447.0        412.0        568.0       2902.0       4447.0
3       5082.0         98.0         10.0       4958.0       5082.0
4       4183.0        260.0         60.0       3473.0       4183.0
5       4305.0       1109.0        285.0       2305.0       4305.0
6       5382.0       3400.0         76.0        850.0       5382.0
7       6919.0       1593.0        314.0       3560.0       6919.0
8       4915.0       3173.0        336.0        881.0       4915.0
9       4524.0       2296.0        150.0        881.0       4524.0

   B09019_007E  B11005_001E  B11005_002E  ...  B23025_003E  B23025_005E  \
0        645.0       1467.0        631.0  ...       2350.0         61.0
1        800.0       1558.0        501.0  ...       2410.0        234.0
2       1018.0       1775.0        553.0  ...       2051.0        115.0
3        451.0       1079.0        592.0  ...       2314.0        206.0
4        429.0       1130.0        671.0  ...       2346.0        120.0
5        605.0       1324.0        560.0  ...       2394.0         65.0
6       1233.0       2395.0        462.0  ...       3256.0        101.0
7       1245.0       2764.0        777.0  ...       4568.0        309.0
8        804.0       1932.0        580.0  ...       2788.0        237.0
9        860.0       1653.0        465.0  ...       2099.0         90.0

   B25002_001E  B25002_003E  B25003_001E  B25064_001E  B25077_001E  state  \
0       1502.0         35.0       1467.0       1544.0     448200.0     06
1       1704.0        146.0       1558.0       1149.0     473500.0     06
2       1917.0        142.0       1775.0        936.0     373100.0     06
3       1161.0         82.0       1079.0       1169.0     393200.0     06
4       1150.0         20.0       1130.0       1375.0          NaN     06
5       1324.0          0.0       1324.0       1572.0     443300.0     06
6       2580.0        185.0       2395.0       2225.0     461100.0     06
7       2985.0        221.0       2764.0       1835.0          NaN     06
8       2156.0        224.0       1932.0       2465.0    1040000.0     06
9       1785.0        132.0       1653.0       1874.0     625000.0     06

   county   tract
0     037  297201
1     037  297110
2     037  296220
3     037  294510
4     037  134305
5     037  134306
6     037  137103
7     037  134903
8     037  137501
9     037  115301

[10 rows x 26 columns]

In [39]:
tracts19gdf=tracts19gdf.rename(columns=vars_to_download_19)
print(tracts19gdf.head(10))

         GEOID                                           geometry  \
0  06037297201  POLYGON ((-13168495.190 3991594.850, -13168494...
1  06037297110  POLYGON ((-13167752.470 3992927.300, -13167751...
2  06037296220  POLYGON ((-13167749.020 3993777.050, -13167748...
3  06037294510  POLYGON ((-13166314.000 4000710.020, -13166192...
4  06037134305  POLYGON ((-13203148.170 4058335.410, -13202671...
5  06037134306  POLYGON ((-13203147.280 4057781.040, -13203142...
6  06037137103  POLYGON ((-13203133.920 4051914.680, -13203125...
7  06037134903  POLYGON ((-13202209.750 4054849.300, -13202159...
8  06037137501  POLYGON ((-13201197.410 4051166.750, -13201184...
9  06037115301  POLYGON ((-13197323.600 4061827.570, -13197323...

   total_pop_2019  white_2019  black_2019  latx_2019  hh_total_2019  \
0          4505.0       848.0       327.0     2892.0         4505.0
1          4649.0       758.0       515.0     2988.0         4649.0
2          4447.0       412.0       568.0     2902.0         4447.0
3          5082.0        98.0        10.0     4958.0         5082.0
4          4183.0       260.0        60.0     3473.0         4183.0
5          4305.0      1109.0       285.0     2305.0         4305.0
6          5382.0      3400.0        76.0      850.0         5382.0
7          6919.0      1593.0       314.0     3560.0         6919.0
8          4915.0      3173.0       336.0      881.0         4915.0
9          4524.0      2296.0       150.0      881.0         4524.0

   hh_female_head_2019  hh_kids_all_2019  hh_kids_yes_2019  ...  \
0                645.0            1467.0             631.0  ...
1                800.0            1558.0             501.0  ...
2               1018.0            1775.0             553.0  ...
3                451.0            1079.0             592.0  ...
4                429.0            1130.0             671.0  ...
5                605.0            1324.0             560.0  ...
6               1233.0            2395.0             462.0  ...
7               1245.0            2764.0             777.0  ...
8                804.0            1932.0             580.0  ...
9                860.0            1653.0             465.0  ...

   civ_laborforce_2019  civ_unemployed_2019  units_all_2019  \
0               2350.0                 61.0          1502.0
1               2410.0                234.0          1704.0
2               2051.0                115.0          1917.0
3               2314.0                206.0          1161.0
4               2346.0                120.0          1150.0
5               2394.0                 65.0          1324.0
6               3256.0                101.0          2580.0
7               4568.0                309.0          2985.0
8               2788.0                237.0          2156.0
9               2099.0                 90.0          1785.0

   units_vacant_2019  housing_occupied_2019  median_rent_2019  \
0               35.0                 1467.0            1544.0
1              146.0                 1558.0            1149.0
2              142.0                 1775.0             936.0
3               82.0                 1079.0            1169.0
4               20.0                 1130.0            1375.0
5                0.0                 1324.0            1572.0
6              185.0                 2395.0            2225.0
7              221.0                 2764.0            1835.0
8              224.0                 1932.0            2465.0
9              132.0                 1653.0            1874.0

   median_value_2019  state  county   tract
0           448200.0     06     037  297201
1           473500.0     06     037  297110
2           373100.0     06     037  296220
3           393200.0     06     037  294510
4                NaN     06     037  134305
5           443300.0     06     037  134306
6           461100.0     06     037  137103
7                NaN     06     037  134903
8          1040000.0     06     037  137501
9           625000.0     06     037  115301

[10 rows x 26 columns]

In [43]:
acs14=cenpy.products.ACS(year=2014)

KeyError: 'Dataset tigerWMS_ACS2014 not found. Please check cenpy.tiger.available()'

In [44]:
vars_to_download_14 = {
    "B25064_001E": "median_rent_2014",
    "B25077_001E": "median_value_2014",
    "B03002_001E": "total_pop_2014",
    "B03002_003E": "white_2014",
    "B03002_004E": "black_2014",
    "B03002_012E": "latx_2014",
    "B25003_001E": "housing_occupied_2014",
    "B25001_003E": "housing_rented_2014",
    "B09019_007E": "hh_female_head_2014",
    "B09019_001E": "hh_total_2014",
    "B15003_001E": "educ_all_2014",
    "B15003_015E": "educ_bachelors_2014",
    "B15003_016E": "educ_masters_2014",
    "B15003_017E": "educ_professional_2014",
    "B15003_018E": "educ_doctoral_2014", 
    "B19013_001E": "median_income_2014",
    "B23025_003E": "civ_laborforce_2014",
    "B23025_005E": "civ_unemployed_2014",
    "B17002_001E": "pov_all_2014",
    "B17002_002E": "pov_extreme_2014",
    "B17002_003E": "pov_severe_2014",
    "B17002_004E": "pov_in_2014",
    "B11005_001E": "hh_kids_all_2014",
    "B11005_002E": "hh_kids_yes_2014",
    "B25002_001E": "units_all_2014",
    "B25002_003E": "units_vacant_2014"
    
}
vars_to_download_l_14 = list(vars_to_download_14.keys())

In [45]:
tracts14gdf=products.ACS(2014).from_place('Los Angeles, CA',place_type='Incorporated Place',level='tract',variables=vars_to_download_l_14)

KeyError: 'Dataset tigerWMS_ACS2014 not found. Please check cenpy.tiger.available()'

Now we want to create our datasets for the statistical and clustering tests, one of ellis properties with the parcel information joined, and another of all parcels, with an indication of the ellis status.

In [ ]:
ellisjoindf = studyellisdfdf.join(parcelsf, on="ain", how="left")

#is there an easier way to create a new column in the parcels datset that gives a bool indicator of whether an ellis
#has coccured than a join?

With our Ellis datset, we will also want to create a new field that takes the difference between the filing date and the last sale date for the property. Thereby we can filter out negative diffs (landlord no longer owns property) and study the difference in neighborhood conditions in changing filing times.

In [ ]:
ellisjoindf['time_to_file']=ellisjoindf['application_date']-ellisjoindf['last_sold_date']